.card {
  position: relative;
  width: 360px;
  height: 306px;

  box-sizing: border-box;
  border-radius: 6px;
}

.cardRed {
  background: #FFD3D3;
  border: 1px solid #FF1B1B;
}

.cardYellow {
  background: #FFF2C5;
  border: 1px solid #FFCD1B;
}

.cardGreen {
  background: #DDFFE4;
  border: 1px solid #00D12E;
}

.trafficLight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 25px;

  position: absolute;
  width: 74px;
  height: 144px;
  left: 143px;
  top: 50px;

  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
}

.trafficRed {
  border: 1px solid #930101;
}

.trafficYellow {
  border: 1px solid #8E7004;
}

.trafficGreen {
  border: 1px solid #005012;
}

.lightRed, .lightYellow, .lightGreen {
  position: relative;
  width: 24px;
  height: 24px;
  background: #C4C4C4;
  border-radius: 15px;
  flex: none;
  margin: 10px 0px;
}

.lightRedOn {
  background: #FF1B1B;
  box-shadow: 0px 0px 10px #FF1B1B;
}

.lightYellowOn {
  background: #FFCD1B;
  box-shadow: 0px 0px 10px #FFCD1B;
}

.lightGreenOn {
  background: #00D12E;
  box-shadow: 0px 0px 10px #00D12E;
}

.label {
  position: relative;
  top: 234px;
  font-size: 30px;
  text-align: center;
}

.labelRed {
  color: #930101;
}

.labelYellow {
  color: #8E7004;
}

.labelGreen {
  color: #005012;
}